[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"
python_full_version = "3.7.0"

[scripts]
format = "black --line-length 88 --verbose"
lint = "flake8 --max-line-length=88 --statistics -vv --count"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
start = "python manage.py runserver"

[packages]
Django = "*"
djangorestframework = "*"
gunicorn = "*"
Markdown = "*"
django-filter = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
coreapi = "*"
whitenoise = "*"
brotli = "*"
requests = "*"
feedparser = "*"
pyjwt = "*"

[dev-packages]
black = "*"
"flake8" = "*"
rope = "*"
pytest = "*"
