[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.7.1"

[scripts]
format = "black . --verbose"
lint = "flake8 --statistics --count"
start = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"

[packages]
brotli = "*"
coreapi = "*"
Django = "*"
djangorestframework = "*"
django-filter = "*"
dj-database-url = "*"
feedparser = "*"
gunicorn = "*"
requests = "*"
whitenoise = "*"
"psycopg2-binary" = "*"

[dev-packages]
"flake8" = "*"
black = "*"
pre-commit = "*"
rope = "*"
